@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Se agrega tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

/* Section de fondo degradado cortado */

.divFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: #000428;
  background: -webkit-linear-gradient(to bottom, #000428, #004e92);
  background: linear-gradient(to bottom, #000428, #004e92);
  transform-origin: 0px 0px;
  transform: skewY(-6deg);
  overflow: hidden;
  z-index: -1;
}

.active {
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* Error 404 */

.error404-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-404 {
  padding: 20px 40px 20px 40px;
  background: rgb(168, 31, 31);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  box-shadow: 6px 6px 6px rgb(99, 0, 0);
}

.error-404 h1 {
  font-size: 5rem;
  font-weight: 900;
  color: rgb(100, 0, 0);
  -webkit-text-stroke: 1px white;
}

.error-404 p {
  font-size: 3rem;
  color: white;
}

/*Header*/
.container-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #004e9200;
}
.logo {
  width: 70px;
}
.logo img {
  width: 100%;
}
.container-header section ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  gap: 60px;
  margin: 7px;
}
.container-header li a {
  display: flex;
  justify-content: space-evenly;
}
.container-header a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  transition: all 0.3s;
}
.container-header a:hover {
  color: rgb(140, 46, 247);
  font-weight: 700;
}
.sesion {
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  border: 2px #1563ff solid;
  color: #1563ff !important;
  font-weight: 800;
}
.sesion:hover {
  box-shadow: 0px 0px 10px rgb(46, 141, 250);
  color: #9d48ff !important;
  text-shadow: 0px 0px 10px rgb(149, 55, 255);
}
.sesion.active {
  box-shadow: 0px 0px 20px rgb(65, 65, 254);
  text-shadow: 0px 0px 20px blue;
}

.main {
  width: 430px;
  height: 40px;
  text-align: center;
  background-color: #063289;
  border-radius: 30px;
  color: #40ddff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.main h1 {
  font-size: 35px;
  letter-spacing: 0.1;
  margin-bottom: 25px;
  font-weight: 900;
}

.container-p {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.container-p img {
  width: 50%;
}

.BtnImg {
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: #1563ff;
  font-weight: 800;
  border-radius: 30px;
  color: white;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.3s;
}

.BtnImg:hover {
  box-shadow: 0px 0px 15px 10px #2ea1ff;
}
